<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="crowdknock_flutter">

    <!-- Permiso para acceder a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permiso opcional para estado de red (si se desea usar en el futuro) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:label="crowdknock_flutter"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.crowdknock_flutter">
        
        <!-- Actividad principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.crowdknock_flutter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
